@font-face {
  font-family: "Air Strip Arabic";
  src: url("../fonts/AirStripArabic.woff2") format("woff2"),
    url("../fonts/AirStripArabic.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
